<div class="container">
  <h1 class="text-center mb-4">User</h1>
  <div class="text-center mb-4">
    <div class="d-flex align-items-center justify-content-center">
      <p class="mb-0 me-2">Name:</p>
      <p class="mb-0"><%= @user.name %></p>
    </div>
  </div>
  <p class = "text-center mb-4" >
    Age:
    <%= @user.age %>
  </p> 
  <div class="text-center mb-4">
    <%= link_to 'Edit user', edit_user_path %>
  </div>
  <div class="text-center mb-4">
      <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger mt-3", data: { confirm: "Are you sure?" } %>
  </div>
  <% unless @user.products.blank? %>
    <h2 class="text-center mb-4">List products</h2>
    <% @user.products.each_with_index do |product, index| %>
      <div class="text-center mb-4">
        <span class="font-weight-bold mr-2"><%= index + 1 %>.</span>
        <span class="product-title"><%= product.title %></span>
      </div>
    <% end %>
  <% end %>
  
</div>