<div class="container contain">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <%= search_form_for @q, html: { class: 'form-inline' } do |f| %>
<!--          <div class="form-group mb-3">-->
            <%#= f.label 'Search with age and email ', class: 'mb-1 mr-2' %>
            <%#= f.search_field :age_or_email_cont, class: 'form-control mr-2' %>
<!--          </div>-->
          <div class="form-group mb-3">
            <%= f.label 'Search with age and email', class: 'mb-1 mr-2' %>
            <%= f.text_field  :name_body_cont, class: 'form-control mr-2' %>
          </div>
          <div class="form-group mb-3">
            <%= f.label :updated_at_gt, "Ngay bat dau", class: 'mr-2 mb-1' %>
            <%= f.date_field :updated_at_gt, class: 'form-control mr-2' %>
          </div>
          
          <div class="form-group mb-3">
            <%= f.label :updated_at_lt, "Ngay ket thuc", class: 'mr-2 mb-1' %>
            <%= f.date_field :updated_at_lt, class: 'form-control mr-2' %>
          </div>

          <%= f.submit 'Search', class: ' d-flex btn btn-primary mx-auto mt-3' %>
        <% end %>
    </div>
  </div>

<%= link_to 'Add user', new_user_path, class: 'btn btn-success mt-3 right-align text-right mb-3  ' %>

<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        <%= sort_link(@q, :id, 'ID') %>
      </th>
      <th scope="col">
        <%= sort_link(@q, :name, "Name") %>
      </th>
      <th scope="col">
        <%= sort_link(@q, :age, 'Age') %>
      </th>
      <th scope="col">
        <%= sort_link(@q, :email, 'Email') %>
      </th>
      <th scope="col">
        <%= sort_link(@q, :created_at, 'Created') %>
      </th>
      <th scope="col">
        <%= sort_link(@q, :updated_at, 'Updated') %>
      </th>

      <th scope="col" class="text-center">Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= render 'table',user: user %>
  <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
</div >