<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <% unless @user.product.nil? %>
    <%= link_to "Product of User", user_products_path(@user.id) %>
  <% end%>
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
